//Import Dependencies
@import "includes/normalize";
@import "includes/fonts";
@import "includes/mixins";
@import "includes/variables";
@import "includes/animation";
@import "includes/onepage-scroll";

//Structure
@import "includes/scaffold";
@import "includes/typography";
@import "includes/forms";

//Custom
@import "includes/artists";
@import "includes/social-icons";