@use "shared" as *;

.email-signup .ng-enter, .email-signup .ng-leave {
    transition: 0.3s $nice-bezier all;
}
.email-signup .ng-enter {
    opacity: 0;
}
.email-signup .ng-enter.ng-enter-active {
    opacity: 1;
}
.email-signup .ng-leave {
    opacity: 1;
}
.email-signup .ng-leave.ng-leave-active {
    opacity: 0;
}


@keyframes fadeIn{
    100% {
        opacity: 1;
    }
}

@keyframes prettyFade {
    0% {
        filter: brightness(1) contrast(1) saturate(1);
    }
    100% {
        filter: brightness(0) contrast(5) saturate(0.5);
    }
}
@keyframes draw {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes fillIn {
    100% {
        fill: rgba(#FFF, 1);
        stroke: rgba(#FFF, 0)
    }
}
@keyframes popIn {
    90% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}
@keyframes logoScale {
    100% {
        top: 0;
        transform: translateY(0);
        width: 200px;
    }
}
@keyframes contentReveal {
    100% {
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes recordIn {
    100% {
        top: calc(100% - 100px);
    }
}
@keyframes listenMode {
    100% {
        top: calc(100% - 40px);
        transform: translateY(-50%) translateX(-50%) rotate(15deg);
        width: 150px;
        left: 20px;
    }
}
@keyframes playIt {
    from {
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}
@media screen and (min-width: $screen-sm) {
    @keyframes logoScale {
        100% {
            top: 0;
            transform: translateY(0%);
            width: 450px;
        }
    }
    @keyframes listenMode {
        100% {
            top: calc(100% - 40px);
            transform: translateY(-50%) translateX(-50%) rotate(15deg);
            width: 300px;
            left: 40px;
        }
    }
}
@media screen and (min-width: $screen-md) {
    @keyframes recordIn {
        100% {
            top: calc(100% - 60px);
        }
    }
    @keyframes listenMode {
        100% {
            top: 50%;
            left: -40px;
            transform: translateY(-50%) translateX(0%) rotate(15deg);
            width: 300px;
        }
    }
}
@media screen and (min-width: $screen-lg) {
    @keyframes recordIn {
        100% {
            top: calc(100% - 150px);
        }
    }
}
