@use "shared" as *;

.artist {
	&#autumn-wetli {
		@media all and (orientation:portrait) and (max-width: $screen-sm) {
		    background: url('/img/artists/artist-bg-autumn-wetli-ls.webp') top center no-repeat;
    		background-size: cover;
		}
		@media all and (orientation:landscape) {
		    background: url('/img/artists/artist-bg-autumn-wetli.webp') top right no-repeat;
    		background-size: cover;
		}
    }
    &#craig-brown {
    	@media all and (orientation:portrait) and (max-width: $screen-sm) {
		    background: url('/img/artists/artist-bg-craig-brown-ls.webp') top center no-repeat;
    		background-size: cover;
		}
		@media all and (orientation:landscape) {
		    background: url('/img/artists/artist-bg-craig-brown.webp') top right no-repeat;
    		background-size: cover;
		}
    }
}
