@use "sass:math";
@use "sass:list";
@use "sass:meta";

$baseFontSize: 10; // Based on HTML reset html { font-size: 62.5%; }

@function parseInt($n) {
  @return math.div($n, $n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : ();
  $rem: ();

  $root: $baseFontSize;

  @each $value in $values {
    @if $value == 0 or $value == auto {
      $px : list.append($px , $value);
      $rem: list.append($rem, $value);
    }

    @else if meta.type-of($value) == number {
      $unit: math.unit($value);
      $val: parseInt($value);

      @if $unit == "px" {
        $px : list.append($px,  $value);
        $rem: list.append($rem, math.div($val, $root) + rem);
      }

      @if $unit == "rem" {
        $px : list.append($px,  ($val * $root + px));
        $rem: list.append($rem, $value);
      }
    }

    @else {
      $px : list.append($px,  $value);
      $rem: list.append($rem, $value);
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}

@function rem($value) {
  $root: $baseFontSize;
  $val: parseInt($value);
  $return: ();

  @if math.unit($value) == "px" {
    $return: list.append($return, math.div($val, $root) + rem);
  } @else {
    $return: list.append($return, ($val * $root + px));
  }

  @return $return;
}

//Placeholder

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%center-vh{
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}
