@use "shared" as *;

body{
	font-family: 'LibreBaskerville-Regular', serif;
}

h1, h2, h3, h4{
	font-weight:normal;
	font-family: 'Futura';
}

h1{
	@include rem(font-size, 3.6rem);
	@media screen and (min-width: $screen-sm){
		@include rem(font-size, 6rem);
	}
}