//Colors
$gold:				#DFAF48;

//Sizes
$max-width: 		815px;

//Transitions
$nice-bezier: cubic-bezier(0.165, 0.84, 0.44, 1);

//Breakpoints
$screen-sm: 		640px;  // Large mobile
$screen-md: 		768px;  // Tablet (iPad portrait)
$screen-lg: 		1024px; // Desktop (iPad landscape / laptops)