// Foundation - these don't need variables/mixins
@use "includes/normalize";
@use "includes/fonts";

// Variables and mixins - loaded via "shared" in partials
@use "includes/variables";
@use "includes/mixins";

// Animation (doesn't use variables)
@use "includes/animation";

// Layout components
@use "includes/onepage-scroll";
@use "includes/scaffold";
@use "includes/typography";
@use "includes/forms";

// Custom components
@use "includes/artists";
@use "includes/social-icons";
