@font-face {
    font-family: 'Futura';
    src: url('/fonts/Futura.eot');
    src: url('/fonts/Futura.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Futura.woff') format('woff'),
         url('/fonts/Futura.ttf') format('truetype'),
         url('/fonts/Futura.svg#futura_condensed_extrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LibreBaskerville-Regular';
    src: url('/fonts/LibreBaskerville-Regular.eot');
    src: url('/fonts/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/LibreBaskerville-Regular.woff') format('woff'),
         url('/fonts/LibreBaskerville-Regular.ttf') format('truetype'),
         url('/fonts/LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}