//Colors
$gold:				#DFAF48;

//Sizes
$max-width: 		815px;

//Transitions
$nice-bezier: cubic-bezier(0.165, 0.84, 0.44, 1);

//Breakpoints
$screen-xs: 		480px;
$screen-sm: 		768px;
$screen-md: 		960px;
$screen-lg: 		1200px;